
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TalkingStick</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="node_modules/materialize_css/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>
<body>
  <nav>
    <div class="nav-wrapper indigo">
      <a href="#" class="brand-logo">TalkingStick</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Notes</a></li>
        <li><a href="badges.html">Classes</a></li>
        <li><a href="collapsible.html">Students</a></li>
      </ul>
    </div>
  </nav>


<%= yield %>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../dist/js/materialize.js"></script>
  <script src="js/init.js"></script>


  </body>
</html>
